.content .nav_menu ul{
	width: 936px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
}
.content .nav_menu ul li{
	width: 180px;
	height: 180px;
}
.content .nav_menu ul li a{
	font-size: 20px;
	color: #ffffff;
	display: block;
	width: 180px;
	height: 180px;
	line-height: 180px;
	text-align: center;
	background: url(../img/public/nav_bg.png);
}
.content .nav_menu ul .on a{
	background: url(../img/public/nav_bg_on.png);
}
.content .nav_menu ul li a:hover{
	background: url(../img/public/nav_bg_on.png);
}

.content .title{
	padding: 50px 0;
	text-align: center;
}
.content .title h2{
	font-size: 30px;
	color: #120009;
	line-height: 60px;
	background: url(../img/index/title_bg.png)no-repeat bottom;
}
.content .title span{
	font-size: 24px;
	color: #120009;
}

.content .text{
	width: 915px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.content .text img{
	width: 915px;
	height: 495px;
	margin-bottom: 16px;
}
.content .text p{
	font-size: 14px;
	color: #3A3737;
	font-family: "宋体";
	text-indent: 2em;
	line-height: 26px;
	padding: 12px 26px;
}
